{{> head}}
    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa quod, quos repellendus debitis earum non porro natus enim doloremque dicta esse! Cumque numquam libero voluptatum reprehenderit veritatis, exercitationem eveniet explicabo?</h1>
        </div>

        <div class="col-4">
            <img src="assets/img/logo.png" class="img-thumbnail">
        </div>
    </div>


{{> footer}}